<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496161030293-2l8pa49cjnevkmt329q3sa9its29nj8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496161030293-2l8pa49cjnevkmt329q3sa9its29nj8p</string>
	<key>API_KEY</key>
	<string>AIzaSyDonauJoBzzXn8AjRP0dWqY7As5QhqzqPo</string>
	<key>GCM_SENDER_ID</key>
	<string>496161030293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quranBook</string>
	<key>PROJECT_ID</key>
	<string>quran-book-30ddf</string>
	<key>STORAGE_BUCKET</key>
	<string>quran-book-30ddf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496161030293:ios:18ff6eaf2d14573a1e1b9c</string>
	<key>DATABASE_URL</key>
	<string>https://quran-book-30ddf-default-rtdb.firebaseio.com</string>
</dict>
</plist>